<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css"/>
    <title>CampusTrade - New Products</title>
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <img src="../static/assets/logo.svg"/>
        <ul>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <img height="30px" width="30px" src="../static/assets/profile.svg"/>
        </ul>
    </div>
    <h3 style="color: white; font-size: 100px;">Welcome, {{ session['username'] }}!</h3>
    <footer class="footer">
        <ul>
            <li style="font-size: 20px; font-weight: 200;"><a>Important</a></li>
            <br>
            <li><a>CampusTrade</a></li>
            <li><a>Terms and Conditions</a></li>
            <li><a>Policies</a></li>
            <li><a>Seller Verification</a></li>
        </ul>
        <ul>
            <li style="font-size: 20px; font-weight: 200;"><a>Features</a></li>
            <br>
            <li><a>Verified Sellers</a></li>
            <li><a>Online Store</a></li>
            <li><a>Book Shelf</a></li>
            <li><a>Learner's hub</a></li>
        </ul>
        <ul>
            <li style="font-size: 20px; font-weight: 200;"><a>Support</a></li>
            <br>
            <li><a>Help Center</a></li>
            <li><a>Report</a></li>
            <li><a>Service</a></li>
        </ul>
    </footer>
    
    <footer>
        <center><p>&copy; 2024 CampusTrade</p></center>
    </footer>

    <!-- JavaScript -->
    <script src="./static/landing_page.js"></script>
</body>
</html>
