<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/landing_page.css"/>
    <title>CampusTrade</title>
</head>
<body>
    <div class="navbar">
        <img src="./static/assets/logo.svg"/>
        <ul>
            
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <a href="login.html"><button class="get-started-nav">Get Started</button></a>
        </ul>
    </div>
    <div class="get-started">
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><b>Share</b> valuable things</p>
        <p>at <b>Ease.</b> </p>
        <p>&nbsp;</p>
        <a href="login.html"><button class="get-started-button">Get Started</button></a>
    </div>
    <div class="features">
         <h1>Engage, Exchange and Explore</h1>
         <br>
         <ul>
            <li><h3>Healthy Ecosystem</h3>
                <p>Fostering a vibrant online marketplace, our platform ensures a healthy ecosystem for college students to buy and sell used textbooks and study materials, promoting sustainability and cost-effective learning.</p>
            </li>
            <li><h3>Verified Sellers</h3>
                <p> Rest easy with our verified seller system, where each user undergoes a thorough verification process, instilling trust and confidence in the college community when buying or selling pre-owned items and academic resources.</p>
               
                </li>
            <li><h3>Sharing made easy</h3>
                <p>Facilitating seamless collaboration, our platform makes sharing used study materials a breeze, empowering students to effortlessly exchange resources and contribute to a supportive academic environment.</p>
                </li>
         </ul>
    </div>
    <div class="description">
        <h1>What  is CampusTrade ?</h1>
        <br>
        <p>Introducing CampusTrade, your go-to online marketplace tailored for college students! CampusTrade provides a user-friendly platform for students to buy and sell used items, from textbooks and study materials to dorm decor and electronics. 
        </p>
        <br>
         <p>Simplifying student life, our website fosters a community where users can connect with fellow classmates, save money on essential items, and contribute to sustainable practices by giving used goods a second life. Whether you're looking to declutter your space or find affordable resources for your courses, CampusTrade is the one-stop destination for savvy college shoppers. Join the CampusTrade community today and turn your clutter into cash or snag great deals on the items you need for academic success!</p>
    </div>
    <div class="slide-wrapper">
        <img onclick="goPrev()" style=" margin-left: 50px; background-color: white; border-radius: 10px;" src="./static/assets/arrow_left.svg"/>
        <div class="slide-container">
        
            <img  class="slider" src="./static/assets/slider_img2.png"/>
            <img  class="slider" src="./static/assets/slider_img3.jpg"/>
            <img  class="slider" src="./static/assets/slider_img4.jpg"/>
            <img  class="slider" src="./static/assets/slider_img5.jpg"/>
            
        </div>
        <img onclick="goNext()" style=" margin-right: 50px; background-color: white; border-radius: 10px;" src="./static/assets/arrow_right.svg"/>

   
    </div>
    <footer class="footer">
          <ul>
            <li style="font-size: 20px; font-weight: 200;"><a>Important</a></li>
            <br>
            <li><a>CampusTrade</a></li>
            <li><a>Terms and Conditions</a></li>
            <li><a>Policies</a></li>
            <li><a>Seller Verification</a></li>
          </ul>
          <ul>
            <li style="font-size: 20px; font-weight: 200;"><a>Features</a></li>
            <br>
            <li><a>Verified Sellers</a></li>
            <li><a>Online Store</a></li>
            <li><a>Book Shelf</a></li>
            <li><a>Learner's hub</a></li>
          </ul>
          <ul>
            <li style="font-size: 20px; font-weight: 200;"><a>Support</a></li>
            <br>
            <li><a>Help Center</a></li>
            <li><a>Report</a></li>
            <li><a>Service</a></li>
          </ul>
    </footer>
    <footer>
        <center><p>&copy; 2024 CampusTrade</p></center>
    </footer>
</body>
<script src="./static/landing_page.js"></script>
</html>